<nav class="navbar navbar-expand-lg navbar-dark bg-primary" aria-label="Eighth navbar example" style="margin-bottom: 50px;">
    <div class="container">
        <a class="navbar-brand">Thetford</a>
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07" [ngbCollapse]="isNavbarCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Item</a>
                </li>
            </ul>


        </div>
    </div>
</nav>