<footer class="text-center text-lg-start fixed-bottom" style="background-color: #485057;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Gemaakt door: Kevin Nguyen
    </div>
</footer>